.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.message-box {
  height: 300px;
  overflow-y: auto;
  background-color: #1e1e1e; /* Dark background */
  color: #00ff00; /* Green text */
  font-family: "Courier New", Courier, monospace; /* Monospace font */
  border: 2px solid #00ff00; /* Green border */
  padding: 10px;
  margin-bottom: 15px;
  white-space: pre-wrap; /* Preserve spacing */
  font-size: 14px;
}

.message-box p {
  margin: 2px 0; /* Minimize spacing */
}

.btn-grp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}


.download-button {
  background: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background: darkgreen;
}


.close-button {
  background: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background: darkred;
}

