/* App.css */
.container {
  display: flex;
  height: 100vh;
  background: f3f4f6;
  /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 18%, rgba(0,212,255,1) 100%);*/
  align-items: center;
  justify-content: center;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #e2e8f0;
  border-radius: 25px;
  margin-right: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.back-button {
  font-family: "Times New Roman", Times, serif; 
  font-weight: bold;   
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}
.import-button {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;      
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28A745;
  color: #fff;
  border: none;
  cursor: pointer;
}
.card {
  background: #e2e8f0;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h2 {
  color: #2563eb;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
}

.input-group label {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-group-1 {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 25px;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.checkbox-group-2 {
  display: flex;
  margin: 15px 25px;
  text-align: center;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.back-button, .import-button, .run-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.back-button {
  background-color: #2563eb;
  color: white;
}

.import-button {
  background-color: #fbbf24;
  color: black;
}

/*.run-button {
  background-color: #10b981;
  color: white;
}*/
.run-button {
  border-radius: 15px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.run-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.run-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.run-button:hover span {
  padding-right: 15px;
}

.run-button:hover span:after {
  opacity: 1;
  right: 0;
}
